
  .container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.2em;
  }
  .menu-itm {
    display: none;
  }
  .brighton {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .brighton img {
    width: 15%;
    margin-bottom : 0.3em 
  }

  .brighton > p {
    font-size: 15pt;
    margin:0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 100%;
  }

  .flash-news {
    height: 20em;
    background-image: url(../assests/dog.jpg);
    background-size: cover;
    position: relative;
  }

  .brief {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 30%;
    bottom: 0px;
  }
 

  .heading {
    color: white;
    margin: 10px 0 0 10px;
    font-size: 1.1em;
    font-weight: bolder;
    height: 20px;
  }

  .flash-news-content {
    position: absolute;
    top: 40%;
    color: white;
    margin: 10px 0 0 10px;
    font-size: 0.6em;
    font-weight: bold;
  }
  .sports{
    margin-top: 1em;
  }

  .date-team {
    display: flex;
    background-color: rgb(157, 157, 228);
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    color: white;
    padding: 3px;
    font-size: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 5px 0px 0px 0px;
  }

  .content-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3em;
    justify-content: space-around;
    padding: 0;
  }

  .contents > div:nth-child(even) {
    background: rgb(238, 238, 238);
  }

  .contents > div:nth-child(odd) {
    background: rgb(255, 253, 253);
  }

  .place {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 5px;
    padding: 5px;
    position: relative;
    left: 7%;
  }

  .place > p {
    margin: 5px;
  }

  .weather {
    display: flex;
    position: relative;
    left: 5%;
  }

  .weather-bold {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 900;
  }

  .wrapper > div:nth-child(even) {
    background: #eee;
  }

  .wrapper > div:nth-child(odd) {
    background: #aaa;
  }

  .a {
    font-size: 14px;
    padding: 0.5em;
  }

  h4 {
    color: #616161;
  }

  .main-img {
    width: 120px;
  }

  .forecast {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
  }
  .temprature{
    font-size: 2em
  }

  .forecast-element > p {
    margin: 0px;
    text-align: center;
  }

  
  .list p {
    width: 100%;
    margin: 0px;
    font-size: 14px;
    padding: 10px 0;
  }

  .list > hr {
    margin: 0px;
  }

  .list {
    width: 100%;
  }

  .head {
    display: flex;
    justify-content: space-between;
  }

  .head p {
    margin: 10px 0px 5px;
  }

  .head-bottom {
    display: flex;
    justify-content: space-between;
  }
  .para-img{
    width: 170px; height: 115px; float: left; padding:0 10px 0 0
  }

  .head-bottom p {
    margin: 20px 0px 5px;
  }

@media (min-width: 790px) and ( max-width: 999px){
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .brighton {
    order: 1;
    width: 100%;
  }
  .brighton p {
    font-size: 30pt;
  }
  .menu-itm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    box-shadow: inset 0 8px 12px -12px rgba(0, 0, 0, 0.5);
    order: 2;
  }
  .forecast{
    display:flex;
    justify-content: center; 
  }

  .weather-forecast {
    order: 4;
    width: 40%;
    height:350px;
    display: flex;
    flex-direction: column;
    margin-top: 2em
  }
  .flash-news {
    order: 3;
    width: 60%;
    height: auto;
  }
  .news-list {
    order: 5;
    width: 100%;
  }
  .sports {
    order: 6;
    width: 100%;
  }
  .bottom-news {
    order: 7;
    width: 100%;
  }
  .menu-btn {
    display: none;
  }
}

@media (min-width: 1000px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .brighton {
    order: 0;
    width: 100%;
    
  }
  .brighton p {
    font-size: 60pt;
  }
  .menu-itm {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    box-shadow: inset 0 8px 12px -12px rgba(0, 0, 0, 0.5);
    
    padding-right: 0;
  }

  .weatherforecast {
    
    width: 100%;
  }
  .forecast-element img{
    height: 7em;
    width: 7em;
  }
  .weather img{
    height: 7em;
    width: 10em;
  }
  .flash-news {
    width: 100%;
    height: 500px;
    background-position: center;
    /* box-shadow: 1px 2px 5px #747474 */
  }
  .news-list {
    width: 100%;
    
  }
  .sports {
    width: 100%;
    
  }
  .bottom-news {
    
    width: 100%;
  }
  .menu-btn {
    display: none;
  }
  .bottom-align {
    display: flex;
    flex-direction: column;
  }
  .brief {
    background-color: white;
    height: 25%;
  }
  .brief p {
    color: #747474;
   
  }
  .heading {
    font-size: 24px;
  }
  .flash-news-content {
    font-size: 12px;
    padding-top: 10px;
  }
  .partial-shadow {
    position: absolute;
    border: 2px;
    height: 1px;
    width:100%;
    background-image: linear-gradient(
      to right,
      
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.0)
    );
    bottom:0px
  }
}
